.introduce_con p {
    font-size: 14px;
}

.introduce_con h1 {
    font-size: 35px;
}

.Education_con h1 {
    font-size: 35px;
}

.Education_con p {
    font-size: 12px;
}
.Education_con h3 {
    font-size: 14px;
}
